@mixin shadows() {
  box-shadow: -10px 5px 10px gray;
}

.background-container {
  position: relative;
}

.background {
  width: 100%;
  opacity: 0.9;
}

.introduction-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  font-family: Poppins;
  text-align: center;
  font-style: italic;
  line-height: 100%;
}

.introduction-part2 {
  font-size: 2vw;
  font-style: normal;
  font-family: Didact Gothic;
}

#projects {
  display: flex;
  justify-content: center;
}

.projects-container {
  border-top: 1px solid rgb(82, 81, 81);
  margin-top: 30px;
  width: 90%;
  padding-bottom: 50px;
}

.projects-title {
  margin-top: 45px;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}

.extra-info {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5vw;
}

.projects-flexbox {
  display: flex;
  margin-top: 70px;
  margin-left: 80px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  border: 1px solid black;
  @include shadows();
  border-radius: 5px;
  transition: top ease-in-out 1.5s;

  &:hover {
    top: -20px;
  }

  .quiz-description {
    padding: 10px;
    margin-left: 10px;
    font-family: Didact Gothic;
  }

  .list-languages {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: Roboto;

    .programming-lang {
      margin-left: 15px;
      background-color: rgb(90, 88, 88);
      padding: 6px;
      border-radius: 10%;
      color: white;
    }
  }
  .learn-more-section {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;

    .learn-more-button {
      background-color: #343a40;
      padding: 6px;
      color: white;
      cursor: pointer;
      font-family: Century Gothic;

      &:hover {
        background-color: #6c757d;
      }
    }
  }
}

.popup-container {
  position: fixed;
  overflow: auto;
  top: 0;

  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  z-index: 2000;
  overflow-x: hidden;
}

.projects-popup {
  width: 800px;
  border: 2px solid black;
  background-color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  position: absolute;
  right: 25%;
}

.popup-container.show {
  pointer-events: auto;
  opacity: 1;
  transition: opacity linear 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  z-index: 200;
  overflow: scroll;
  box-sizing: border-box;
}

.popup-body {
  width: 100%;
  font-family: Poppins;
  text-align: justify;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  border-top: 1px solid gray;
  padding: 5px;

  #github-icon-popup {
    color: black;

    &:hover {
      color: rgb(99, 98, 98);
    }
  }

  .popup-close.footer {
    color: white;
    background-color: rgb(99, 98, 98);
    border-radius: 4px;
    width: 60px;
    &:hover {
      background-color: rgba(99, 98, 98, 0.5);
    }
  }
}

.popup-header {
  margin-bottom: 20px;
  font-size: 25px;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: -15px;

  .popup-close.header {
    background-color: rgb(216, 59, 59);
    color: white;
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-top: 25px;
    cursor: pointer;

    &:hover {
      background-color: rgba(216, 59, 59, 0.5);
    }
  }
}

.popup-images {
  width: 100%;
  height: 450px;
}

.quiz-img {
  width: 100%;
  height: auto;
}

.about-container {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  position: relative;
  margin-top: 200px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-pic {
  border-radius: 50%;
  border: 10px solid white;
  width: 100%;
  height: auto;
}

.about-left-section {
  flex: 1;
  max-width: 250px;
  margin-left: 100px;
}

.about-right-section {
  flex: 1;
  margin-right: 70px;
  margin-top: -250px;

  .about-me-title {
    color: white;
    font-size: 3.5vw;
    font-family: Poppins;
    font-weight: bold;
    text-align: center;
  }

  .about-me-text {
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 80px;
    color: white;
    font-size: 1vw;
    font-family: Century Gothic;
    text-align: justified;
  }
}

.skills-container {
  display: flex;
  margin-top: 100px;
  margin-bottom: 250px;
  flex-direction: column;

  .skills-title {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    font-family: Inder, Century Gothic;
  }
}

.skills-flexbox {
  display: flex;
  flex: 1;
  height: 320px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 180px;
}

.skill-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  flex: 1;
}
.skills-circle {
  border: 2px inset #000000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: rgb(242, 242, 242);
}

.skills-image {
  width: 100%;
  height: auto;
}

.skills-icon-title {
  margin-top: 10px;
  font-size: 20px;
  font-family: Didact Gothic, Century Gothic;
  text-align: center;
}
