@use "header";
@use "main";
@use "footer";
@use "animations";

$fontstack1: Century Gothic, Helvetica;

body {
  font-family: $fontstack1;
  padding-top: 70px;
  margin: 0;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
  animation: animatetop 0.5s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
html {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .about-left-section {
    max-width: 150px;
  }
}
